<div class='container px-5 px-sm-0'>
  <h2>会員一覧ページ</h2>
  <div class="row search-form">
    <%= form_with url: customer_search_path, method: :get do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  <div class='row'>
    <% if @keyword %>
      <h5><%= @keyword %>で検索中</h5>
    <% end %>
  </div>
  <div class='row'>
    <table class='table'>
      <thead>
        <tr>
          <th>プロフィール画像</th>
          <th>ニックネーム</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= image_tag customer.get_profile_image, size: '50x50' %></td>
            <td><%= customer.name %></td>
            <td><%= link_to 'Show', customer %></td>
          </tr>
        <% end %>
        <%= paginate @customers %>
      </tbody>
    </table>
  </div>
</div>