<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div>
      <h4><%= @customer.name %>のページ</h4>
    </div>
  </div>
  <% if @customer.is_active == true %>
    <div class="row">
      <div>
        <table class="table">
          <tbody>
            <tr>
              <td>ニックネーム</td>
              <td><%= @customer.name %></td>
            </tr>
            <tr>
              <td>プロフィール画像</td>
              <td><%= image_tag @customer.get_profile_image, size: '50x50' %></td>
            </tr>
            <tr>
              <td>自己紹介</td>
              <td><%= @customer.introduction %></td>
            </tr>
            <% if @customer == current_customer %>
              <% if @customer.name != "guestcustomer" %>
                <tr>
                  <td><%= link_to "編集する", edit_customer_path(current_customer), class: "btn btn-block btn-success" %></td>
                </tr>
              <% end %>
            <% end %>
            <tr>
              <td><%= link_to "いいね一覧を見る", customer_post_favorites_path(@customer), class: "btn btn-block btn-success" %></td>
            </tr>
            <tr>
              <td><%= link_to "コメント一覧を見る", customer_post_comments_path(@customer), class: "btn btn-block btn-success" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class='row'>
      <%= render 'public/posts/index', posts: @posts %>
    </div>
  <% else %>
    <div class='row'>
      <h2>このアカウントは退会済みです。</h2>
    </div>
  <% end %>
</div>