<%= form_with model:post do |f| %>

  <div class="form-group row">
    <%= f.label :post,"投稿", class: "col-5 my-auto" %>
  </div>
  <%= f.text_area :post,size: "10x8", class: "form-control introduction", maxlength: '200' %>

  <div class="field row mt-4 mb-2">
    <%= f.label :name, "タグ (,で区切ると複数タグ登録できます)", class: "col-12 my-auto" %>
  </div>
  <%= f.text_field :name,value: @tag_lists.join(','),class:"form-control introduction", maxlength: '100' %>

  <div class="form-group my-4 text-right">
    <%= f.submit "投稿する", class: 'btn btn-success py-2 px-3 mb-5 mt-1' %>
  </div>

<% end %>