<% posts.each do |post| %>
  <table class='table mx-auto table-bordered col-10'>
    <tbody>
      <tr>
        <td class="customer-profile-test text-center thead-bg">
          <%= link_to customer_path(post.customer_id), class:"customer-test py-3 link-color" do %>
            <%= image_tag post.customer.get_profile_image, size: '50x50' %>
            <%= post.customer.name %>
          <% end %>
        </td>
      </tr>
      <tr class="post-test">
        <td><%= post.post %></td>
      </tr>
      <tr>
        <% unless post.tag_posts.count == 0 %>
          <td>
            <% post.tag_posts.each do |tag| %>
              <%= link_to tag_search_path(tag_post_id: tag.id), class: "tag-test btn btn-tag my-1" do%>
                <%= tag.name %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
      <tr>
        <td class="text-right">
          <div id="favorite_buttons_<%= post.id %>" class="favorite-test d-inline">
            <%= render 'public/post_favorites/favorite', post: post %>
          </div>
          <%= render 'public/post_comments/count', post: post %>
        </td>
      </tr>
      <tr>
        <td class="text-right">
          <%= post.created_at.to_s(:datetime_jp) %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>