<div class='container px-5 px-sm-0'>
  <div class="row mt-5">
    <h2 class="midashi">
      <% @entries.each do |entry| %>
        <% unless entry.customer == current_customer %>
          <%= link_to customer_path(entry.customer.id) do %>
            <%= entry.customer.name %>さん
          <% end %>
        <% end %>
      <% end %>とのDMページ(ログ)
    </h2>
  <div class="col-11">
  <div class="text-md-right text-center">
    <%=link_to "ルームに戻る", room_path(@room), class: "btn btn-success px-5 py-2 mb-1" %>
  </div>
  </div>
  </div>
  <%= render "public/rooms/show", messages: @messages %>
  <%= paginate @messages %>
</div>