
<div class='container px-5 px-sm-0'>
  <div class="row mt-5">
    <h2 class="midashi">会員詳細ページ</h2>
  </div>
  <div>
    <table class="table mt-5 mx-auto table-bordered col-md-8 col-12">
      <tbody class="m-auto">
        <tr class="thead-bg">
          <td>
            <p style="display:inline;">会員情報</p>
            <% if @customer.is_active == true %>
              <p style="display:inline; color:blue">有効</p>
            <% else %>
              <p style="display:inline; color:red;">退会</p>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= image_tag @customer.get_profile_image, size: '70x70' %><%= @customer.name %></td>
        </tr>
        <tr>
          <td class="thead-bg">自己紹介</td>
        </tr>
        <tr>
          <td><%= @customer.introduction %></td>
        </tr>
        <% if @customer.name != "guestcustomer" %>
          <tr>
            <td><%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-block btn-success col-md-5 col-8 m-auto" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row col-8 mx-auto">
      <%= link_to "いいね一覧", admin_customer_post_favorites_path(@customer), class: "btn btn-success offset-md-1 col-md-4 my-md-3 my-3" %>
      <%= link_to "コメント一覧", admin_customer_post_comments_path(@customer), class: "btn btn-success offset-md-2 col-md-4 my-md-3 mb-3" %>
    </div>
  </div>
  <div class="row col-12">
    <h3 class="midashi my-3 mx-auto"><%= @customer.name %>の投稿一覧</h3>
  </div>
  <% if @posts.exists? %>
    <div class='row'>
      <%= render 'admin/posts/index', posts: @posts %>
    </div>
    <%= paginate @posts %>
  <% else %>
    <h2 class="deta-none text-center mt-3"><%= @customer.name %>の投稿が存在しません</h2>
  <% end %>
</div>