<table class='table'>
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>ニックネーム</th>
      <th>投稿</th>
      <th>タグ</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% favorites.each do |favorite| %>
      <!-- 投稿と会員に変数を渡す -->
      <% post = favorite.post %>
      <% customer = post.customer %>

      <tr>
        <td><%= image_tag customer.get_profile_image, size: '50x50' %></td>
        <td><%= customer.name %></td>
        <td><%= post.post %></td>
        <td>
          <% post.tag_posts.each do |tag| %>
            <%= link_to admin_tag_search_path(tag_post_id: tag.id) do%>
              <%= tag.name %>
              <%="(#{tag.posts.count})" %>
            <% end %>
          <% end %>
        </td>
        <td>♥<%= post.post_favorites.count %></td>
        <td><%= render 'public/post_comments/count', post: post %></td>
        <td><%= link_to '詳細', admin_post_path(favorite.post), class: "btn btn-sm btn-success" %></td>
      </tr>
    <% end %>
    <%= paginate favorites %>
  </tbody>
</table>