<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="text-center py-2 midashi my-5">ログイン</h2>

      <%= form_with model: @customer, url: customer_session_path do |f| %>
        <div class="field row mb-4">
          <%= f.label :email, "メールアドレス", class: "col-5 my-auto" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-7 form-control", placeholder: "sample@sample.com" %>
        </div>

        <div class="field row">
          <%= f.label :password, "パスワード", class: "col-5 my-auto" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "col-7 form-control", placeholder: "password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field text-right mt-3">
            <%= f.label :remember_me, "ログインしたままにする" %>
            <%= f.check_box :remember_me %>
          </div>
        <% end %>

        <div class="text-right">
          <%= f.submit "ログイン", class: "py-1 px-3" %>
        </div>
      <% end %>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>
